body{
  background:url(gold-of-egypt-logo-pattern-opacity-30.png) #FCF9ED no-repeat 49.5%;
  color: rgb(56, 56, 56);
}
.input-group{
  width: 33%; 
  padding:5px;
}
#canvasWrapper{
  position: relative;
  min-height: 50vh ;
  color:white;
}
#text{
  margin-top: 5px;
  padding-right: 5px;
  font-family: 'Comic Sans MS';
  font-size: 22;
  font-weight:bolder;
}
#reset{
  font-weight:bolder;
  padding: -1px 0px;
}
#all{
  font-weight:bolder;
  margin: 5px;
}
@media only screen and (max-width:700px){
  
}